*
!/app
!/app/*/
!/app/code/**
!/app/design/**
!/app/i18n/**
!/docs
!/docs/**
!/pub/fonts/**
!/.editorconfig
!/.env.dist
!/.gitignore
!/.warden
!/.warden/**
!/auth.json.sample
!/composer.json
!/composer.lock
!/install_magento.sh
!/install_modules.sh
!/Makefile
!/README.md
node_modules
/app/code/Magento
