<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pcode_zadaniejeden>
            <general>
                <retention_days>30</retention_days>
            </general>
        </pcode_zadaniejeden>
    </default>
</config>
