<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- no folding in XMLs -->

    <!-- Admin Grid for ChangeLog (must be defined here, not in adminhtml/di.xml) -->
    <type name="PCode\ZadanieJeden\Model\ResourceModel\Changelog\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="const">PCode\ZadanieJeden\Api\ChangelogMetadataInterface::TABLE_NAME</argument>
            <argument name="resourceModel" xsi:type="string">PCode\ZadanieJeden\Model\ResourceModel\Changelog\Collection</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="zadaniejeden_log_listing_data_source" xsi:type="string">PCode\ZadanieJeden\Model\ResourceModel\Changelog\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
